PROYECTO 1: Predicción del precio de venta de un vehículo de segunda mano en función de sus características

In [85]:
import numpy as np
import pandas as pd
import os

In [ ]:
# Actual dir
os.chdir(os.getcwd()+"/dataset") 
print("Path actual",os.getcwd() )

In [194]:
########## Funciones auxiliares
def mean_tax_mpg_at_nulls(df, model):
    df.model = df.model.str.strip()
    groupbymarca = df.groupby(by= "model", as_index=False).mean()
    print("Models",groupbymarca["model"].to_list() )
    mean = groupbymarca[groupbymarca.model == model]
    tax, mpg  = int(mean.tax.round()), mean.mpg.round(1)
    df.loc[(df["model"]==model) & (pd.isnull(df["tax"])) & (pd.isnull(df["tax"])), ["tax", "mpg"]] = tax, mpg

    print(df.isna().sum())
    return df

In [195]:
######### Programa en si

In [196]:
df1 = pd.read_csv('audi.csv', header='infer')
df1["brand"]="Audi"
df1.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [198]:
df2 = pd.read_csv('bmw.csv', header='infer')
df2["brand"]="BMW"
df2.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [199]:
df3 = pd.read_csv('cclass.csv', header='infer')
df7 = pd.read_csv('merc.csv', header='infer')

mercedes = pd.concat([df3,df7])
mercedes.sort_values("model", inplace = True)
mercedes.reset_index(drop=True, inplace=True)
mercedes["brand"]="Mercedes"

mercedes = mean_tax_mpg_at_nulls(mercedes, "C Class")
mercedes.isna().sum()

Models ['180', '200', '220', '230', 'A Class', 'B Class', 'C Class', 'CL Class', 'CLA Class', 'CLC Class', 'CLK', 'CLS Class', 'E Class', 'G Class', 'GL Class', 'GLA Class', 'GLB Class', 'GLC Class', 'GLE Class', 'GLS Class', 'M Class', 'R Class', 'S Class', 'SL CLASS', 'SLK', 'V Class', 'X-CLASS']
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

/home/iciac/.local/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

In [200]:
df4 = pd.read_csv('focus.csv', header='infer')
df5 = pd.read_csv('ford.csv', header='infer')

ford = pd.concat([df4,df5])
ford.sort_values("model", inplace = True)
ford.reset_index(drop=True, inplace=True)
ford["brand"]="Ford"

ford = mean_tax_mpg_at_nulls(ford, "Focus")
ford.isna().sum()

Models ['B-MAX', 'C-MAX', 'EcoSport', 'Edge', 'Escort', 'Fiesta', 'Focus', 'Fusion', 'Galaxy', 'Grand C-MAX', 'Grand Tourneo Connect', 'KA', 'Ka+', 'Kuga', 'Mondeo', 'Mustang', 'Puma', 'Ranger', 'S-MAX', 'Streetka', 'Tourneo Connect', 'Tourneo Custom', 'Transit Tourneo']
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

In [201]:
df6 = pd.read_csv('hyundi.csv', header='infer')
df6["brand"]="Hyundi"
df6.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax(£)          0
mpg             0
engineSize      0
brand           0
dtype: int64

In [202]:
df8 = pd.read_csv('skoda.csv', header='infer')
df8["brand"]="Skoda"
df8.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [203]:
df9 = pd.read_csv('toyota.csv', header='infer')
df9["brand"]="Toyota"
df9.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [206]:
df10 = pd.read_csv('vauxhall.csv', header='infer')
df10["brand"]="Vauxhall"
df10.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [207]:
df11 = pd.read_csv('vw.csv', header='infer')
df11["brand"]="VW"
df11.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64